<div class="result-title"><b>#field('path')@#field('rev'):#field('pos') #field('name')</b>
<!--
<span class="mlt">   #if($params.getBool('mlt', false) == false)<a href="#lensNoQ&q=id:$docId&mlt=true">More Like This</a>#end</span>
-->
</div>
<div>Id: #field('id')</div>

<div>Release: #field('prop_abx:ReleaseLabel') #field('a_cms:rlogicalid') #field('a_cms:rid')</div>

<div>Reuse: #field('a_cms:tmatch') #field('a_cms:tlogicalid') #field('a_cms:trid') #field('a_cms:tpos') #field('a_cms:twords')</div>

<!--
<div class="mlt">
  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))
  #if($mltOn == true)<div class="field-name">Similar Items</div>#end
  #if ($mltOn && $mlt && $mlt.size() > 0)
  <ul>
    #foreach($mltHit in $mlt)
      #set($mltId = $mltHit.getFieldValue('id'))
      <li><div><a href="#url_for_home?q=id:$mltId">$mltId</a></div><div><span class="field-name">Name:</span> $mltHit.getFieldValue('name')</div>
        <div><span class="field-name">Price:</span> $!number.currency($mltHit.getFieldValue('price')) <span class="field-name">In Stock:</span> $mltHit.getFieldValue('inStock')</div>

      </li>
    #end
  </ul>
  #elseif($mltOn && $mlt.size() == 0)
    <div>No Similar Items Found</div>
  #end
</div>
-->
#parse('debug.vm')
