<!--

    Copyright (C) 2004-2012 Repos Mjukvara AB

-->
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="se.repos" level="debug" />
	<logger name="se.simonsoft" level="debug" />

	<!-- Solr is too verbose for us even at info level -->
	<logger name="org.apache.solr" level="warn" />
	<!-- logs all searches and commits -->
	<logger name="org.apache.solr.core.SolrCore" level="info" />

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>

